@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom NProgress styles */
#nprogress .bar {
    background: #4f46e5; /* Change the color to match your theme */
    height: 5px; /* Increase the height of the loading bar */
  }
  
  #nprogress .peg {
    box-shadow: 0 0 10px #4f46e5, 0 0 5px #4f46e5;
  }
  